<!DOCTYPE html>
<html dir="ltr">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="vinos y licores, lima, peru, vinos, licores, bodegas" />
  <meta name="description" content="Exportación de vinos y licores - Perú" />
  <meta name="author" content="arrowthemes">
  <title>R3 Investment S.A.C.</title>

  <!-- vue -->
  <script src="js/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.js"></script>
  <!-- css -->
  <link rel="stylesheet" href="css/plyr.css">
  <link rel="stylesheet" href="css/salmon/bootstrap.css">
  <link rel="stylesheet" href="css/salmon/theme.css">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body id="tm-container">
  <div id="app" class="tm-container">
    <!-- preloader -->
    <div class="tm-preload">
      <div class="spinner"></div>
    </div>

    <!-- to top scroller -->
    <div class="uk-sticky-placeholder">
      <div data-uk-smooth-scroll data-uk-sticky="{top:-500}">
        <a class="tm-totop-scroller uk-animation-slide-bottom" href="#" ></a>
      </div>
    </div>

    <!-- header -->
    <div class="tm-header tm-header-right" data-uk-sticky>
      <div class="uk-container uk-container-center">
        <div class="uk-flex uk-flex-middle uk-flex-space-between">

          <!-- logo -->
          <a class="tm-logo uk-hidden-small" href="index.html">
            <img src="images/r3-investment/logo/white-logo.png" width="250px">
          </a>

          <!-- small logo -->
          <a class="tm-logo-small uk-visible-small" href="index.html">
            <img src="images/r3-investment/logo/white-logo.png" width="140px">
          </a>

          <!-- main menu -->
          <div class="uk-flex uk-flex-right">
            <div class="uk-hidden-small">
              <nav class="tm-navbar uk-navbar tm-navbar-transparent">
                <div class="uk-container uk-container-center">
                  <ul class="uk-navbar-nav uk-hidden-small">

                    <!-- home menu  -->
                    <li class="uk-parent uk-active" data-uk-dropdown><a href="index.html">Inicio</a>
                    </li>
                    
                    <!-- Pages menu -->
                    <li class="uk-parent" data-uk-dropdown><a href="#">La Empresa</a>
                      <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                        <div class="uk-grid uk-dropdown-grid">
                          <div class="uk-width-1-1">
                            <ul class="uk-nav uk-nav-navbar">
                              <li><a href="company.html">Quiénes Somos</a></li>
                              <li><a href="team.html">Nuestro Equipo</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>

                    <!-- News menu -->
                    <li class="uk-parent" data-uk-dropdown><a href="#">Bodegas</a>
                      <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                        <div class="uk-grid uk-dropdown-grid">
                          <div class="uk-width-1-1">
                            <ul class="uk-nav uk-nav-navbar">
                              <li class="uk-parent"><a href="#">Pinord</a>
                                <ul class="uk-nav-sub">
                                  <li v-for="warehouse in warehouses">
                                      <a v-bind:href="'warehouse.html?warehouse_id='+ warehouse.id">{{ warehouse.name }}</a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>

                    <!-- Shop menu -->
                    <li class="uk-parent" data-uk-dropdown><a href="shop-grid.html">Productos</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
  
            <!-- offcanvas nav icon -->
            <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>

            <!-- search button -->
            <div class="uk-navbar-content tm-navbar-more uk-visible-large uk-margin-left" data-uk-dropdown="{mode:'click'}">
              <a class="uk-link-reset"></a>
              <div class="uk-dropdown uk-dropdown-flip">
                <form action="shop-grid.html" class="uk-search" data-uk-search="" id="search-page" method="get" name="search-box">
                  <input class="uk-search-field" name="searchword" placeholder="Buscar..." type="text">
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- hero -->
    <div class="tm-block-hero uk-block uk-block-default tm-block-fullwidth tm-grid-collapse" id="tm-hero">
      <div class="uk-container uk-container-center">
        <section class="tm-hero uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}">
          <div class="uk-width-1-1">
            <div class="uk-panel">

              <!-- slideshow -->
              <div class="tm-slideshow-sandal uk-slidenav-position" data-uk-slideshow="{autoplay:true, animation: 'random-fx', pauseOnHover: true, duration: 300, autoplayInterval: 15000, kenburns: false, slices: 25}">
                <ul class="uk-slideshow uk-overlay-active">
                  
                  <!-- slide 1 -->
                  <li>
                    <img alt="demo" src="https://www.stollerfamilyestate.com/assets/images/contentblock/photos/Photo-4.jpg" width="1400" height="600">
                    <div class="uk-overlay-panel uk-flex uk-flex-middle uk-overlay-slide-left">
                    </div>
                  </li>

                  <!-- slide 2 -->
                  <li>
                    <img alt="demo" src="https://www.stollerfamilyestate.com/assets/images/contentblock/photos/Photo-1.jpg" width="1400" height="600">
                  </li>

                  <!-- slide 3 -->
                  <li>
                    <img alt="demo" src="https://www.stollerfamilyestate.com/assets/images/contentblock/photos/Photo-2.jpg" width="1400" height="600">
                  </li>

                  <!-- slide 4 -->
                  <li>
                    <img alt="demo" src="https://www.stollerfamilyestate.com/assets/images/contentblock/photos/Photo-3.jpg" width="1400" height="600">
                  </li>
                </ul>

                <!-- slide navigation buttons -->
                <div class="uk-margin">
                  <ul class="uk-dotnav uk-hidden-touch">
                    <li data-uk-slideshow-item="0"><a href=""></a></li>
                    <li data-uk-slideshow-item="1"><a href=""></a></li>
                    <li data-uk-slideshow-item="2"><a href=""></a></li>
                    <li data-uk-slideshow-item="3"><a href=""></a></li>
                  </ul>
                </div>

                <!-- slide navigation arrows -->
                <div class="tm-slidenav">
                  <a class="uk-slidenav uk-slidenav-previous uk-hidden-touch" data-uk-slideshow-item="previous" href=""></a>
                  <a class="uk-slidenav uk-slidenav-next uk-hidden-touch" data-uk-slideshow-item="next" href=""></a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div> 
    
    <!-- headerbar -->
    <div class="tm-headerbar-container">
        <div class="uk-container uk-container-center">
          <div class="tm-headerbar">
            <div class="">
              <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-1-4 uk-width-small-1-2">
                  <div class="uk-flex">
                    <div class="tm-block-icon uk-icon-comments-o"></div>
                    <div class="tm-block-content">
                      <h3>Llámanos</h3>
                      <p>(+51) 1 363-7729</p>
                    </div>
                  </div>
                </div>
                <div class="uk-width-medium-1-4 uk-width-small-1-2">
                  <div class="uk-flex">
                    <div class="tm-block-icon uk-icon-map-signs"></div>
                    <div class="tm-block-content">
                      <h3>Visítanos</h3>
                      <p>Calle Gozzoli Norte 607, San Borja</p>
                    </div>
                  </div>
                </div>
                <div class="uk-width-medium-1-4 uk-width-small-1-2">
                  <div class="uk-flex">
                    <div class="tm-block-icon uk-icon-envelope-o"></div>
                    <div class="tm-block-content">
                      <h3>Escríbenos</h3>
                      <p>contacto@r3-investment.pe</p>
                    </div>
                  </div>
                </div>
                <div class="uk-width-medium-1-4 uk-width-small-1-2">
                  <div class="uk-flex">
                    <div class="tm-block-icon uk-icon-clock-o"></div>
                    <div class="tm-block-content">
                      <h3>Horarios</h3>
                      <p>08:00 a 18:00 L-V, 08:00 a 13:00 S</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- bottom-c -->
    <div class="tm-block-bottom-c uk-block uk-block-primary" id="tm-bottom-c">
        <div class="uk-container uk-container-center">
          <section class="tm-bottom-c uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'> div > .uk-panel'}">
            <div class="uk-width-1-1">
              <div class="uk-panel">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-panel">
                      <p>Copyright &copy; R3 Investment Website by <a href="https://github.com/danielgdz" target="_blank">DGDZ</a></p>
                    </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

    
    <!-- offcanvas menu -->
    <div id="offcanvas" class="uk-offcanvas">
      <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
        <ul class="uk-nav uk-nav-parent-icon uk-nav-offcanvas" data-uk-nav>

          <!-- Home menu -->
          <li class="uk-active"><a href="index.html">Inicio</a>
          </li>

          <!-- Pages menu -->
          <li class="uk-parent"><a href="#">La Empresa</a>
            <ul class="uk-nav-sub">
              <li><a href="company.html">Quiénes Somos</a></li>
              <li><a href="team.html">Nuestro Equipo</a></li>
            </ul>
          </li>

          <!-- News menu -->
          <li class="uk-parent"><a href="#">Bodegas</a>
            <ul class="uk-nav uk-nav-navbar">
              <li class="uk-parent"><a href="#">Pinord</a>
                <ul class="uk-nav-sub">
                  <li v-for="warehouse in warehouses">
                      <a v-bind:href="'warehouse.html?warehouse_id='+ warehouse.id">{{ warehouse.name }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <!-- Shop menu -->
          <li><a href="shop-grid.html">Productos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- jquery -->
  <script src="js/jquery/jquery.min.js" type="text/javascript"></script>

  <!-- uikit -->
  <script src="vendor/uikit/js/uikit.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/accordion.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/autocomplete.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/datepicker.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/grid.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/lightbox.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/parallax.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/pagination.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/slider.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/slideset.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/slideshow.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/slideshow-fx.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/sticky.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/timepicker.min.js" type="text/javascript"></script>
  <script src="vendor/uikit/js/components/tooltip.min.js" type="text/javascript"></script>

  <!-- theme -->
  
  <!-- vue2 -->
  <script type="text/javascript">
    new Vue({
        el: "#app",
        data: {
            name: "Daniel",
            server: "http://52.15.217.203:8080",
            warehouses: [],
            warehouses_id: 0
        },
        mounted: function() {
            this.loadInfoWarehouses();
        },
        methods: {
            loadInfoWarehouses: function(){
                this.$http.get(this.server + '/api/warehouses-simple-list')
                    .then(response => {
                        this.warehouses = response.data;
                    });
            }
        }
    });
</script>


  <script src="js/theme.js" type="text/javascript"></script>
  <script src="js/plyr.js" type="text/javascript"></script>
</body>
</html>